<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio - PaIenko Ivgenii</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="/backend/scripts.js"></script>
</head>
<body>
<div class="body">
    <div class="el NavBar">
        <div class="Brand">
            <h1>
                <a href="index.html">Johnny</a></h1>
        </div>

        <div class="pagesList">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="Contact.html">Contact</a>
                </li>
                <li>
                    <a href="Prices.html">Prices</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="el LeftSideMenu">
        <p>LeftSideMenu</p>
    </div>
    <div class="el RightSideMenu">
        <p>RightSideMenu</p>
    </div>
    <div class="el PageContent">
        <div class="pageTitle">
            <h2>Try out this simple TodoList ✨</h2>
        </div>
        <!--     TodoList Control   -->
        <div class="controls">
            <button class="addTodo" onclick="AddTodo2List()">Add New Todo.. ✏</button>
        </div>
        <!--     TodoList Body   -->
        <div class="bodyOfTodoList">
            <input type="text" class="todoInputField">

            <ul class="myUl">
                <li>Example Todo!</li>
            </ul>
        </div>
    </div>
    <div class="el Footer">
        <p>Footer</p>
    </div>
</div>
</body>
</html>